

/* Import DM Serif Text font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

/* Override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Page body styles: set up flex layout and base font */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* This ensures the layout is vertical, stacking header, main, and footer */
    color: #3a3a3a;
    font-family: 'DM Serif Text', serif;
}


/* Header styles: fixed, full width, with shadow */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex; 
    justify-content:space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Logo styles */
h1 {
    font-family: 'DM Serif Text', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Navigation menu styles */

#menu {
    /* Style the navigation menu: larger font, spaced letters, no bullets */
    font-size: 110%;
    letter-spacing: 4px;
    list-style: none;
    padding-left: 0;
}

#menu > li {
    /* Add space between menu items */
    margin-bottom: 1em;
}

.active {
    /* Highlight the active menu item with a bottom border */
    border-bottom: 1px solid #3a3a3a;
}


/* Navigation container styles */
nav {
    /* Full width, left-aligned, with padding and shadow to match header */
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none; 
    top: 100%;
}

/* Nav Toggle */ 

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content styles */
main {
    background-color: lightblue;
    /* Allows main to expand and fill available vertical space */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Footer styles */
footer {
    background-color: orange;
}

/* Media Query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
}

#menu {
    display: flex;
}

#menu > li {
    padding-left: 1rem;
}

.nav-toggle-label {
    display: none;

}