/* Import DM Serif Text font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

/* Override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* This ensures the layout is vertical, stacking header, main, and footer */
    color: #3a3a3a;
    font-family: 'DM Serif Text', serif;
}

/* Header styles */
header {
    background-color: lightcoral;
}

/* Logo styles */
h1 {
    font-family: 'DM Serif Text', serif;
}

/* Main content styles */
main {
    background-color: lightblue;
    /* Allows main to expand and fill available vertical space */
    flex: 1 0 auto;
}

/* Footer styles */
footer {
    background-color: orange;
}